{% extends 'base.jinja' %}

{% block content %}
<h3>This is where im going to put the car inventory</h3>
<p>I unfortunately am not a wealthy person with a established car collection.</p>
{% endblock content %}